/*
|   ---------------------------------------------------------------------------------
|   @Layouts (Nosotros)
|   ---------------------------------------------------------------------------------
|
*/


.nosotros{
    display: flex;
    width: 100%;
    flex-direction: column;
    position: relative;
    background-color: var(--blanco);
}

.nosotros__contenedor{
    display: flex;
    width: 100%;
    min-height: 30rem;
    height: max-content;
}
    @media screen and (min-width: 300px) and (max-width: 1000px){
        .nosotros__contenedor{
            flex-direction: column;
        }
    }


.nosotros__descripcion{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50%;
    flex-direction: column;
    gap: 1rem;
    padding: 5rem;
}
    @media screen and (min-width: 300px) and (max-width: 1000px){
        .nosotros__descripcion{
            width: 100%;
            padding: 2rem;
        }
    }

.nosotros__descripcion--celeste{
    background-color: var(--celeste);
    color: var(--blanco);
}
    @media screen and (min-width: 300px) and (max-width: 1000px){
        .nosotros__descripcion--celeste{
            padding: 5rem;
        }
    }


.nosotros__titulo{
    font-size: var(--fs-titulos);
    font-family: 'Lato-Bold';
    color: var(--gris);
    width: 100%;
    padding: 0 4rem;
}

.nosotros__titulo span{
    font-size: var(--fs-titulos);
    font-family: 'Lato-Bold';
}

.nosotros__span-azul{
    color: var(--azul);
}

.nosotros__span-celeste{
    color: var(--celeste);
}

.nosotros__texto{
    padding: 0 4rem;
    font-size: var(--fs-textos);
    color: var(--gris);
    line-height: 2rem;
}

.nosotros__texto span{
    font-size: var(--fs-textos);
}

.nosotros__lista{
    display: flex;
    flex-direction: column;
    gap: 1rem;
    font-size: var(--fs-textos);
    line-height: 2rem;
    color: var(--blanco);

}

.nosotros__lista ul li{
    font-size: var(--fs-textos);
    line-height: 2rem;
}

