/*
|   ---------------------------------------------------------------------------------
|   @Layouts (Otros Servicios)
|   ---------------------------------------------------------------------------------
|
*/


.otros-servicios{
    display: flex;
    width: 100%;
    height: max-content;
    position: relative;
    background-color: var(--blanco);
}
    @media screen and (min-width: 300px) and (max-width: 1466px){
        .otros-servicios{
            flex-direction: column;
            align-items: center;
        }
    }


.otros-servicios__col{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
}
    @media screen and (min-width: 300px) and (max-width: 1000px){
        .otros-servicios__col{
            width: 100%;
        }

    }


.otros-servicios__col--sm{
    width: 30%;
}

.otros-servicios__header{
    display: flex;
    width: 100%;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 0 1rem;
}
    @media screen and (min-width: 300px) and (max-width: 1466px){
        .otros-servicios__header{
            justify-content: center;
            align-items: center;
            padding: 0 
        }
    }


.otros-servicios__titulo{
    font-size: var(--fs-titulos-lg);
    width: 60%;
    font-weight: bold;
    text-align: center;
    color: var(--azul);
}

.otros-servicios__titulo span{
    font-size:  var(--fs-titulos-lg);
    color: var(--celeste);
}

.otros-servicios__texto{
    font-size:  var(--fs-textos);
    text-align: justify;
    width: 60%;
    margin-top: 2rem;
    line-height: var(--lh-textos);
}

.otros-servicios__normas{
    background-color: var(--azul);
    display: flex;
    flex-direction: column;
    width: 100%;
    margin-top: 2rem;
    gap: 3rem;
    padding: 3rem 1rem;
    align-items: center;
}
    @media screen and (min-width: 300px) and (max-width: 900px){
        .otros-servicios__normas{
            height: max-content;
        }
    }
    @media screen and (min-width: 300px) and (max-width: 1466px){
        .otros-servicios__normas{
            justify-content: center;
            align-items: center;
        }
    }


.otros-servicios__normas-titulo{
    font-size: var(--fs-titulos);
    color: var(--blanco);
    text-align: center;
}

.otros-servicios__normas-titulo span{
    font-size:  var(--fs-titulos);
    color: var(--celeste);
}

.otros-servicios__normas-images {
    display: flex;
    gap: 1rem;
    margin-top: 1rem;
    display: inline-grid;
    grid-template-columns: repeat(auto-fill, minmax(130px, 0.5fr));
    grid-gap: 0.5rem;
    width: 70%;

}
    @media screen and (min-width: 300px) and (max-width: 1466px){
        .otros-servicios__normas-images {
            width: 100%;
        }
    }


.otros-servicios__normas-images>.item {
    display:flex;
    padding: 0.5rem;
    justify-content:center;
    align-items:center;
}

.otros-servicios__normas-images>.item::before,
.otros-servicios__normas-images>.item>img {
    grid-area: 1 / 1 / 2 / 2;
        -ms-grid-row: 1;
        -ms-grid-row-span: 1;
        -ms-grid-column: 1;
        -ms-grid-column-span: 1;
}

.otros-servicios__normas-images>.item>img {
    width: 80%;
    height: 80%;
        -o-object-fit: contain;
    object-fit: contain;
}

.otros-servicios__img{
    display: flex;
    width: 100%;
    height: 100%;
    background-image: url(../../resources/otros-servicios.jpg);
    background-position:top;
    background-repeat: no-repeat;
    background-size: cover;
}
    @media screen and (min-width: 300px) and (max-width: 1000px){
        #otros-servicios__img{
            display: none;
        }
    }

.otros-servicios--carousel{
    width: 100%;
    height: 32rem;
    top: 0;
    right: 0;
    overflow: hidden;
    margin-top: 2rem;
}

    /*@media screen and (min-width: 300px) and (max-width: 1466px){
        .otros-servicios--carousel{
            position: relative;
            margin-top: 1rem;
            width: 60%;
        }
    }
    @media screen and (min-width: 300px) and (max-width: 850px){
        .otros-servicios--carousel{
            width: 100%;
            margin-top: 0;
        }
    }*/
   
.otros-servicios__normas-container{
    width: 70%;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
}

.imgp{
    object-position: top;
}