/*
|   ---------------------------------------------------------------------------------
|   @Layouts (Proyectos)
|   ---------------------------------------------------------------------------------
|
*/


.proyectos{
    display: flex;
    width: 100%;
    height: max-content;
    position: relative;
    padding: 3rem 7rem;
    flex-direction: column;
    background-color: var(--blanco);
    gap: 5rem;
}
    @media screen and (min-width: 300px) and (max-width: 1350px){
        .proyectos{
            padding: 3rem 2rem;
        }
    }


.proyectos__titulo{
    font-size: var(--fs-titulos-lg);
    width: 100%;
    font-weight: bold;
    text-align: center;
    color: var(--azul);
}

.proyectos__titulo span{
    font-size: var(--fs-titulos-lg);
    color: var(--celeste);
}

.proyectos__container{
    display: flex;
    min-height: 30rem;
    height: max-content;
    gap: 2rem;
}
    @media screen and (min-width: 300px) and (max-width: 1000px){
        .proyectos__container{
            flex-direction: column;
        }
    }


.proyectos__categorias{
    display: flex;
    width: 20%;
    flex-direction: column;
    height: 100%;
    gap: 1rem;
}
    @media screen and (min-width: 300px) and (max-width: 1000px){
        .proyectos__categorias{
            width: 100%;
        }
    }


.proyectos__categoria{
    display: flex;
    color: var(--gris);
    padding: 1rem;
    font-weight: bold;
    font-size: var(--fs-textos);
    cursor: pointer;
    text-align: left;
}

.proyectos__categoria:hover{
    border-left: 3px var(--celeste) solid;
    color: var(--azul);
}

.proyectos__categoria--selected{
    border-left: 3px var(--celeste) solid;
    color: var(--azul);
}

.proyectos__card-container{
    display: flex;
    width: 80%;
    height: 100%;
    gap: 1rem;
    flex-wrap: wrap;
}
    @media screen and (min-width: 300px) and (max-width: 1000px){
        .proyectos__card-container{
            width: 100%;
        }
    }


.proyectos__card{
    display: flex;
    width: 30%;
    height: 30rem;
    overflow: hidden;
    cursor: pointer;
    position: relative;
}
    @media screen and (min-width: 630px) and (max-width: 1350px){
        .proyectos__card{
            width: 45%;
        }
    }
    @media screen and (min-width: 300px) and (max-width: 629px){
        .proyectos__card{
            width: 100%;
        }
    }


.proyectos__card-img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    transition: 400ms;
}

.proyectos__card:hover .proyectos__card-img{
    transform: scale(1.2);
}

.proyectos__card-footer{
    display: flex;
    flex-direction: column;
    background-color: var(--azul);
    width: 100%;
    min-height: 7rem;
    height: max-content;
    position: absolute;
    padding: 1rem;
    bottom: 0;
    gap: 0.5rem;
}

.proyectos__card-title{
    color: var(--celeste);
    font-size: var(--fs-textos);
    font-weight: bold;
}

.proyectos__card-text{
    color: var(--blanco);
    font-size: var(--fs-textos);
}