/*
|   ---------------------------------------------------------------------------------
|   @Layouts (Servicios)
|   ---------------------------------------------------------------------------------
|
*/


.servicios{
    width: 100%;
    height: max-content;
    flex-direction: column;
    position: relative;
    background-color: var(--blanco);
}

.servicios__contenedor{
    display: flex;
    background-color: var(--azul);
    width: 90%;
    height: 100%;
    flex-direction: column
}


.servicios__row{
    display: flex;
    gap: 1rem;
}

.servicios__card{
    display: flex;
    flex-direction: column;
    width: 25rem;
    height: 25rem;
    background-color: red;
}