<div class="banner" id="inicio">

    <div class="banner__container">

        <h1 class="banner__titulo">Tanques fabricados <br> con <span> mano de obra</span> <br> 100% mexicana</h1>

        <div class="banner__logos">
    
            <div class="banner__logo">
                <img src="resources/logos/gls.png" alt="GLS" data-aos="fade-up" data-aos-delay="100">
            </div>
    
            <div class="banner__logo">
                <img src="resources/logos/omerastore.png" alt="OMERASTORE" data-aos="fade-up" data-aos-delay="200">
            </div>
    
            <div class="banner__logo banner__logo--md">
                <img src="resources/logos/ateco.png" alt="ATECO" data-aos="fade-up" data-aos-delay="300">
            </div>
    
            <div class="banner__logo banner__logo">
                <img src="resources/logos/apro.png" alt="APRO" data-aos="fade-up" data-aos-delay="400">
            </div>
    
        </div>

    </div>

    <div class="banner__container banner__container--bottom">

        <img src="resources/tanques_tagro.png" alt="Tanques">

    </div>
  

</div>