<div class="contacto" id="contacto">

    <div class="contacto__header">

        <div class="contacto__titulo">
            Ponte en <span>contacto</span>
        </div>
    
        <div class="contacto__texto">
            Escribenos y nos pondremos en contacto a la brevedad posible.
        </div>

    </div>

    <div class="contacto__form-container">

        <form class="contacto__form">

            <div class="contacto__input-line">

                <input type="text" class="contacto__input" placeholder="Nombre" id="nombre">

            </div>

            <div class="contacto__input-line">

                <input type="email" class="contacto__input" placeholder="Email" id="email">

                <input type="text" class="contacto__input" placeholder="Teléfono" id="telefono">

            </div>

            <div class="contacto__input-line">

                <textarea class="contacto__input" name="mensaje" id="mensaje" rows="10" placeholder="Mensaje"></textarea>

            </div>

            <div class="g-recaptcha" data-sitekey="6LeETEYlAAAAAHI3ee4si56nuOKccotcfHNie8w8" style="margin-top: 2%; margin:0 auto"></div>
            <p style="text-align: center; font-weight: bold; display: none;" id="status"></p>
            <button class="contacto__button" type="button" onclick="enviar()">
                ENVIAR
            </button>


        </form>

        <div class="contacto__informacion">

            <div class="contacto__informacion-container">
                <a href="https://goo.gl/maps/pcXr7P2JYictTKQw6" class="contacto__link" target="_blank">Av. Zurich #703, Villa San Isidro, Torreón, Coah.</a>
            </div>

            <div class="contacto__informacion-container">
                
                <a href="mailto:proyecto@tagro.mx" class="contacto__link" target="_blank"><i class="fa-solid fa-envelope"></i> proyectos@tagro.mx</a>
                <a href="tel:8713293441" class="contacto__link"><i class="fa-solid fa-phone"></i>8713 293 441</a>
                <a href="tel:8717800507" class="contacto__link"><i class="fa-solid fa-phone"></i>8717 800 507</a>

            </div>

            <div class="contacto__informacion-container contacto__informacion-container--row">

                <a href="https://www.facebook.com/TAGROMX/?locale=es_LA" class="contacto__link contacto__link--white" target="_blank"><i class="fa-brands fa-square-facebook"></i></a>
                <a href="https://www.linkedin.com/in/tanques-agroindustriales-m%C3%A9xico-5382761ab/?trk=people_directory&originalSubdomain=mx" class="contacto__link contacto__link--white" target="_blank"><i class="fa-brands fa-linkedin"></i></a>
                <a href="https://www.instagram.com/tagro.mx/?hl=en" class="contacto__link contacto__link--white" target="_blank"><i class="fa-brands fa-instagram"></i></a>
                <a href="https://api.whatsapp.com/send?phone=+528713293441" class="contacto__link contacto__link--white" target="_blank"><i class="fa-brands fa-whatsapp"></i></a>
                
            </div>

            <div class="contacto__informacion-container">

                <a href="./"><img src="resources/logo.png" alt="Tagro" class="contacto__img"></a>
                
            </div>

        </div>

    </div>
    
     
</div>