<div class="index">

    <div class="index__image">
        <img src="resources/logo2.png" alt="TARGO">
    </div>
    
    <div class="index__content">
        <h1 class="index__title" data-aos="fade-down">¡ ESTAMOS RENOVANDO NUESTRO SITIO !</h1>
    </div>

    <div class="index__content index__content--center">
        <div class="index__content index__content--md index__content--column gap-1" data-aos="fade-right" data-aos-delay="300">
            <h2 class="index__title"  >CONTÁCTANOS</h2>
            <p class="index__paragraph">
                OFICINA: <a href="tel:(871) 780 05 07" class="index__link">(871) 780 05 07</a>  <br>
                MOVIL: <a href="tel:(871) 329 34 41" class="index__link">(871) 329 34 41</a>
            </p>
            <div class="index__socials">
                <a href="https://www.facebook.com/TAGROMX" target="_blank" class="index__link index__link--lg">
                    <i class="fa-brands fa-facebook"></i>
                </a>
                <a href="https://www.instagram.com/tagro.mx/?hl=en" target="_blank" class="index__link index__link--lg">
                    <i class="fa-brands fa-instagram"></i>
                </a>
                <a href="https://www.instagram.com/tagro.mx/?hl=en" target="_blank" class="index__link index__link--lg">
                    <i class="fa-brands fa-linkedin"></i>
                </a>
            </div>

        </div>
        <div class="index__content index__content--md">

            <div class="index__image index__image--lg" data-aos="fade-left"  data-aos-delay="300">
                <img src="resources/portada.jpeg" alt="TARGO">
            </div>

        </div>
    </div>

</div>