<div class="nosotros">

    <div class="nosotros__contenedor">

        <div class="nosotros__descripcion">

            <div class="nosotros__titulo">

                <span class="nosotros__span-azul">TAGRO</span> nace en la ciudad <br> de <span class="nosotros__span-celeste">Torreón, Coahuila.</span>

            </div>

            <div class="nosotros__texto">

                De la fusión de dos empresas visionarias y con el respaldo de más de <span class="nosotros__span-celeste">10 años de experiencia</span>,
                siendo que desde el 2013 trabajamos en el diseño, fabricación y construcción de tanques de almacenamiento.

            </div>

        </div>

        <div class="nosotros__descripcion nosotros__descripcion--celeste">

            <div class="nosotros__lista">

                Manejamos distintos materiales como:

                <ul>
                    <li>Acero inoxidable</li>
                    <li>Acero al carbón</li>
                    <li>Acero galvanizado</li>
                    <li>Y la mejor tecnología en vidrio fusionado al acero</li>
                </ul>
    
                Pudiendo almacenar agua potable, aguas residuales, agua de proceso,
                hidrocarburos y cualquier producto almacenable que el cliente necesite.
                
            </div>
                

        </div>

    </div>

    <!--<div class="nosotros__contenedor">

        <div class="nosotros__contenedor--md">

            <div class="nosotros__row">

            </div>

            <div class="nosotros__row">

                <div class="nosotros__card">

                    <div class="nosotros__card-titulo">

                        INGENIERÍA:

                    </div>

                    <div class="nosotros__card_">

                    </div>

                </div>

                <div class="nosotros__card">

                    <div class="nosotros__card-titulo">

                        PREPARACIÓN:

                    </div>

                </div>

            </div>


        </div>

    </div>-->

</div>