<div class="otros-servicios">

    <div class="otros-servicios__col">

        <div class="otros-servicios__titulo">
            Otros <span>Servicios</span>
        </div>

        <div class="otros-servicios__texto">

            Fabricación de bebederos o pilas, mezcladoras para leche, pipas-remolque,
            tarjas, mesas de trabajo.

            <br>
            <br>

            Nos adaptamos a las necesidades de nuestros clientes al brindarles soluciones
            en cualquier producto cuya principal materia prima sea el acero inoxidable.

        </div>

        <div class="otros-servicios__normas">

            <div class="otros-servicios__normas-titulo">
                Nuestros tanques son fabricados <span>bajo diferentes normas</span>
            </div>

            <div class="otros-servicios__normas-images">

                <div class="otros-servicios__normas-img">
                    <img src="resources/normas/nsf.png" alt="NSF">
                </div>

                <div class="otros-servicios__normas-img">
                    <img src="resources/normas/AmericanWaterWorks.png" alt="American Water Works">
                </div>

                <div class="otros-servicios__normas-img">
                    <img src="resources/normas/FM.png" alt="FM">
                </div>

                <div class="otros-servicios__normas-img">
                    <img src="resources/normas/NFPA.png" alt="NFPA">
                </div>

                <div class="otros-servicios__normas-img">
                    <img src="resources/normas/EEA.png" alt="EEA">
                </div>

                <div class="otros-servicios__normas-img ">
                    <img src="resources/normas/API650.png" alt="API 65">
                </div>

            </div>

            <div class="otros-servicios__normas-titulo">
                NMX-R-077-SCFI-2015
            </div>


        </div>

    </div>

    <div class="otros-servicios__col otros-servicios__col--sm">

        <div class="otros-servicios__img">

        </div>

    </div>

</div>