<div class="otros-servicios" id="otros-servicios">

    <div class="otros-servicios__col">

        <div class="otros-servicios__header">

            <div class="otros-servicios__titulo">
                Otros <span>Servicios</span>
            </div>
    
            <div class="otros-servicios__texto">
    
                Fabricación de bebederos o pilas, mezcladoras para leche, pipas-remolque,
                tarjas, mesas de trabajo.
    
                <br>
                <br>
    
                Nos adaptamos a las necesidades de nuestros clientes al brindarles soluciones
                en cualquier producto cuya principal materia prima sea el acero inoxidable.
    
            </div>

        </div>
        
        <!--<div class="otros-servicios--carousel">

            <div class="swiper" id="galeria-otros-servicios">

                <div class="swiper-wrapper" >
                    <div class="swiper-slide">
                        <img src="resources/carousel/1.jpg" alt="Industrial" class="modal__img">
                    </div>
                    <div class="swiper-slide">
                        <img src="resources/carousel/2.jpg" alt="Industrial" class="modal__img">
                    </div>
                    <div class="swiper-slide">
                        <img src="resources/carousel/3.jpg" alt="Industrial" class="modal__img">
                    </div>
                    <div class="swiper-slide imgp">
                        <img src="resources/carousel/4.jpg" alt="Industrial" class="imgp">
                    </div> 
                    <div class="swiper-slide">
                        <img src="resources/carousel/5.jpg" alt="Industrial" class="img-center">
                    </div>

                </div>

                <div class="swiper-button-prev"></div>
                <div class="swiper-button-next"></div>

            </div>

        </div>-->

        <div class="glide multi1">
            <div class="glide__track" data-glide-el="track">
              <ul class="glide__slides">
                <li class="glide__slide">  
                    <img src="resources/carousel/1.jpg" alt="Tagro">
                </li>
                <li class="glide__slide">  
                    <img src="resources/carousel/2.jpg" alt="Tagro">
                </li>
                <li class="glide__slide">  
                    <img src="resources/carousel/3.jpg" alt="Tagro">
                </li>
                <li class="glide__slide">  
                    <img src="resources/carousel/4.jpg" alt="Tagro">
                </li>
                <li class="glide__slide">  
                    <img src="resources/carousel/5.jpg" alt="Tagro" class="img-center">
                </li>
              
              </ul>
            </div>
        </div>
     

        <div class="otros-servicios__normas">

            <div class="otros-servicios__normas-container">

                <div class="otros-servicios__normas-titulo">
                    Nuestros tanques son fabricados <span>bajo diferentes normas</span>
                </div>
    
                <div class="otros-servicios__normas-images">
                    <div class="item" data-aos="fade-up"><img src="resources/normas/nsf.png" alt="NSF" title="NSF"></div>
                    <div class="item" data-aos="fade-up"><img src="resources/normas/AmericanWaterWorks.png" alt="American Water Works" title="American Water Works"></div>
                    <div class="item" data-aos="fade-up"><img src="resources/normas/FM.png" alt="FM" title="FM"></div>
                    <div class="item" data-aos="fade-up"><img src="resources/normas/NFPA.png" alt="NFPA" title="NFPA"></div>
                    <div class="item" data-aos="fade-up"><img src="resources/normas/EEA.png" alt="EEA" title="EEA"></div>
                    <div class="item" data-aos="fade-up"><img src="resources/normas/API650.png" alt="API 65" title="API 65"></div>
                </div>
    
                <div class="otros-servicios__normas-titulo">
                    NMX-R-077-SCFI-2015
                </div>

            </div>
          
        </div>

    </div>

    <!---
    <div class="otros-servicios__col otros-servicios__col--sm" id="otros-servicios__img">

        <div class="otros-servicios__img">

        </div>

    </div>-->

</div>