<div class="proyectos" id="proyectos">

    <div class="proyectos__titulo">
        Nuestros <span>Proyectos</span>
    </div>

    <div class="proyectos__container">

        <div class="proyectos__categorias">

            <div class="proyectos__categoria">
                Tanques de agua
            </div>

            <div class="proyectos__categoria">
                Bebederos
            </div>

            <div class="proyectos__categoria">
                Pilas
            </div>

            <div class="proyectos__categoria">
               Mezcladoras para leche
            </div>

            <div class="proyectos__categoria">
                Pipas remolques
            </div>


        </div>

        <div class="proyectos__card-container">

            <div class="proyectos__card">

                <img src="resources/card.jpg" alt="" class="proyectos__card-img">

                <div class="proyectos__card-footer">
                    <div class="proyectos__card-title">
                        Nombre del proyecto
                    </div>
                    <div class="proyectos__card-text">
                        Descripción del proyecto
                    </div>
                    <div class="proyectos__card-text">
                        Tipo de tanque
                    </div>
                </div>

            </div>



        </div>

    </div>
   

</div>