<div class="proyectos" id="proyectos">

    <div class="proyectos__titulo">
        Nuestros <span>Proyectos</span>
    </div>

    <div class="proyectos__container">

        <div class="proyectos__categorias" id="categorias" style="display:none">

        </div>

        <div class="proyectos__card-container" id="proyectos_container">

            <!--<div class="proyectos__card" id="hola">

                <img src="resources/card.jpg" alt="" class="proyectos__card-img">

                <div class="proyectos__card-footer">
                    <div class="proyectos__card-title">
                        Nombre del proyecto
                    </div>
                    
                    <div class="proyectos__card-text">
                        Tipo de tanque
                    </div>
                </div>

            </div>-->

            

        </div>

    </div>
   

</div>