<div class="servicios">


    <img src="resources/tanque.png" alt="Tanque tagro" class="servicios__img">

    <div class="servicios__contenedor">


        <div class="servicios__row">

            <div class="servicios__card">

                <div class="servicios__card-titulo">

                    INGENIERÍA

                </div>

                <div class="servicios__card-texto">

                    Realización de toda la ingeniería requerida para el proyecto
                    ofrecido, memorias de calculo y planos constructivos de losa y tanque.

                </div>

            </div>

            <div class="servicios__card">

                <div class="servicios__card-titulo">

                    PREPARACIÓN

                </div>

                <div class="servicios__card-texto">

                    Diseño y construcción de losa de cimentación para soporte del tanque, incluyendo en algunos 
                    casos mecánica de suelo y preparación del terreno.

                </div>


            </div>

        </div>

        <div class="servicios__row">

            <div class="servicios__card">

                <div class="servicios__card-titulo">

                    MANUFACTURA

                </div>

                <div class="servicios__card-texto">

                    Suministro de materiales y comienzo de fabricación de partes en taller.

                </div>

            </div>

            <div class="servicios__card">

                <div class="servicios__card-titulo">

                    CONSTRUCCIÓN

                </div>

                <div class="servicios__card-texto">

                    Ensamble de las partes totales del tanque (techo, cuerpos del tanque fondo, en caso de llevar).

                </div>


            </div>

        </div>

        <div class="servicios__row servicios__row--mt2">

            <div class="servicios__titulo">
                Ofrecemos una excelente mano de obra <span>calificada y certificada</span>  
                con sobrada experiencia en la elección de tanques.
            </div>

        </div>

    </div>

</div>