<div class="servicios">


    <img src="resources/tanque.png" alt="Tanque tagro" class="servicios__img">

    <div class="servicios__contenedor">


        <div class="servicios__row">

            <div class="servicios__card">

                <div class="servicios__card-titulo">

                    INGENIERÍA

                </div>

                <div class="servicios__card-texto">

                    Realización de toda la ingeniería requerida para el proyecto
                    ofrecido, memorias de calculo y planos constructivos de losa y tanque.

                </div>

            </div>

            <div class="servicios__card">

                <div class="servicios__card-titulo">

                    PREPARACIÓN

                </div>

                <div class="servicios__card-texto">

                    Diseño y construcción de losa de cimentación para soporte del tanque, incluyendo en algunos 
                    casos mecánica de suelo y preparación del terreno.

                </div>


            </div>

        </div>

        <div class="servicios__row">

            <div class="servicios__card">

                <div class="servicios__card-titulo">

                    MANUFACTURA

                </div>

                <div class="servicios__card-texto">

                    Suministro de materiales y comienzo de fabricación de partes en taller.

                </div>

            </div>

            <div class="servicios__card">

                <div class="servicios__card-titulo">

                    CONSTRUCCIÓN

                </div>

                <div class="servicios__card-texto">

                    Ensamble de las partes totales del tanque (techo, cuerpos del tanque fondo, en caso de llevar).

                </div>


            </div>

        </div>

        <div class="servicios__row servicios__row--mt2">

            <div class="servicios__titulo">
                Ofrecemos una excelente mano de obra <span>calificada y certificada</span>  
                con sobrada experiencia en la elección de tanques.
            </div>

        </div>

    </div>

    <div class="servicios__materiales">

        <div class="servicios__materiales-row">

            <div class="servicios__materiales-contenedor servicios__materiales-contenedor--p2">

                <div class="servicios__materiales-titulo">
                    Acero inoxidable
                </div>

                <div class="servicios__materiales-menu">

                    <div class="servicios__materiales-menu-row">
                        <div class="servicios__materiales-menu-numero">
                            01
                        </div>
                        <div class="servicios__materiales-menu-selector"></div>
                        <div class="servicios__materiales-menu-texto">
                            Acero inoxidable
                        </div>
                    </div>

                    <div class="servicios__materiales-menu-row">
                        <div class="servicios__materiales-menu-numero">
                            02
                        </div>
                        <div class="servicios__materiales-menu-selector"></div>
                        <div class="servicios__materiales-menu-texto">
                            Acero al carbón
                        </div>
                    </div>

                    <div class="servicios__materiales-menu-row">
                        <div class="servicios__materiales-menu-numero">
                            03
                        </div>
                        <div class="servicios__materiales-menu-selector"></div>
                        <div class="servicios__materiales-menu-texto">
                            Acero galvanizado
                        </div>
                    </div>

                    <div class="servicios__materiales-menu-row">
                        <div class="servicios__materiales-menu-numero">
                            04
                        </div>
                        <div class="servicios__materiales-menu-selector"></div>
                        <div class="servicios__materiales-menu-texto">
                            Vidrio fusionado al acero
                        </div>
                    </div>

                  
                </div>

            </div>

            <div class="servicios__materiales-contenedor">

                <img src="resources/acero-inoxidable.jpg" alt="" class="servicios__materiales-menu-img">

            </div>

            <div class="servicios__materiales-contenedor servicios__materiales-contenedor--p2 servicios__materiales-contenedor--js-start">

                <div class="servicios__materiales-texto">
                    Este tipo de tanques son fabricados con mano de obra <span>100% mexicana</span>, pudiendo ser soldado o atornillados
                    y representan una excelente opción por sus grandes ventajas:
                </div>

                <ul  class="servicios__materiales-lista">

                    <li>Rapidez en diseño, suministro, producción y fabricación.</li>
                    <li>Diseñados bajo normas / estándares como API 650, AWWA y NSF.</li>
                    <li>Instalados para sistemas contra incendio, pudiendo ser aprobados por Factory Mutual y bajo los estándares de la NFPA.</li>

                </ul>
                

            </div>

        </div>

    </div>

</div>