<div class="servicios">

    <div class="servicios__contenedor">

        <div class="servicios__row">

        </div>

        <div class="servicios__row">

            <div class="servicios__card">

                <div class="servicios__card-titulo">

                    INGENIERÍA:

                </div>

                <div class="servicios__card-texto">

                </div>

            </div>

            <div class="servicios__card">

                <div class="servicios__card-titulo">

                    PREPARACIÓN:

                </div>

            </div>

        </div>


    </div>

</div>