/*
|   ---------------------------------------------------------------------------------
|   @Components (Scroll)
|   ---------------------------------------------------------------------------------
|
*/


/* width */
::-webkit-scrollbar {
    width: 10px;
}
  
/* Track */
::-webkit-scrollbar-track {
  background: var(--azul);
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: var(--celeste);
  border-radius: 10px;
}
