
<!--====== AOS JS ======-->
<script src="libs/aos/dist/aos.js"></script>
<!--====== JQUERY ======-->
<script src="libs/jquery/jquery.min.js"></script>
<!--====== MENU JS ======-->
<script src="libs/menu/dist/js/menu.min.js"></script>
<!--====== SWIPER JS ======-->
<script src="https://cdn.jsdelivr.net/npm/swiper@9/swiper-bundle.min.js"></script>
<!--====== SWAL JS ======-->
<script src="libs/sweetalert2/sweetalert2.all.min.js"></script>
<!--====== MAIN JS ======-->
<script src="js/servicios.js"></script>
<script src="js/mail.js"></script>

<script>

    AOS.init()

    

    
    const menu = new Menu({options: {element: '.menu', openWith: '#btn-menu', closeWith: '#btn-menu-close', size:'lg', from: 'right',
        callbackOnOpen: function(){
            let body = document.querySelector('body')
            body.style.overflow = 'hidden'
        },
        callbackOnClose: function(){
            let body = document.querySelector('body')
            body.style.overflow = 'auto'
        }  
    }})

    menu.init()

    menu.closeWith('.menu__link')


</script>
<script src="js/proyectos.js"></script>
