<div class="menu" id="menu">
    <button class="boton-menu boton-menu--absolute" id="btn-menu-close">
        <i class="fa-solid fa-xmark"></i>
        CERRAR
    </button>

    <!--<div class="menu__col">

        <div class="menu__logo">
            <a href="./"><img src="resources/logo.png" alt="Tagro" class="menu__img"></a>
        </div>

    </div>-->


    <div class="menu__col">

        <div class="menu__links">
            <a href="#inicio" class="menu__link">Inicio</a>
            <a href="#nosotros" class="menu__link">Nosotros</a>
            <a href="#servicios" class="menu__link">Servicios</a>
            <a href="#proyectos" class="menu__link">Proyectos</a>
            <a href="#contacto" class="menu__link">Contacto</a>
        </div>

    </div>

    <div class="menu__col menu__col--center" id="contacto-info">

        <div class="menu__informacion">

            <div class="contacto__informacion-container">
                <a href="https://goo.gl/maps/FeE2Z5byPqumDjF4A" class="contacto__link">C. Viena #656, Villa San Isidro, Torreón, Coah.</a>
            </div>
    
            <div class="contacto__informacion-container">
                
                <a href="mailto:proyecto@tagro.mx" class="contacto__link" target="_blank"><i class="fa-solid fa-envelope"></i> proyectos@tagro.mx</a>
                <a href="tel:8713293441" class="contacto__link"><i class="fa-solid fa-phone"></i>8713 293 441</a>
                <a href="tel:8717800507" class="contacto__link"><i class="fa-solid fa-phone"></i>8717 800 507</a>
    
            </div>
    
            <div class="contacto__informacion-container contacto__informacion-container--row">
    
                <a href="https://www.facebook.com/TAGROMX/?locale=es_LA" class="contacto__link contacto__link--white" target="_blank"><i class="fa-brands fa-square-facebook"></i></a>
                <a href="https://www.linkedin.com/in/tanques-agroindustriales-m%C3%A9xico-5382761ab/?trk=people_directory&originalSubdomain=mx" class="contacto__link contacto__link--white" target="_blank"><i class="fa-brands fa-linkedin"></i></a>
                <a href="https://www.instagram.com/tagro.mx/?hl=en" class="contacto__link contacto__link--white" target="_blank"><i class="fa-brands fa-instagram"></i></a>
                <a href="https://api.whatsapp.com/send?phone=8713293441" class="contacto__link contacto__link--white" target="_blank"><i class="fa-brands fa-whatsapp"></i></a>
                
            </div>
    
          

        </div>

     

    </div>

</div>