<div class="modal">

    

    <div class="modal__container">

      <button class="modal__boton" id="btn-menu">
        <i class="fa-solid fa-xmark"></i>
        CERRAR
      </button>

      <div class="modal__col modal__col--w70">
        
        
        <div class="glide" id="banner__modal" >
          <div class="glide__track" data-glide-el="track">
            <ul class="glide__slides">
              <li class="glide__slide">  
                <img src="resources/ejemplo/2.jpg" alt="Industrial" class="modal__img"> 
            </li>
            </ul>
          </div>
        </div>

      </div>

      <div class="modal__col modal__col--w30">

        <div class="modal__header">

          <div class="modal__titulo">
            Nombre del proyecto
          </div>

          <div class="modal__texto">
            Tipo de tanque
          </div>
          
        </div>

      </div>
        <!--<div class="glide glide__carousel"  id="banner__carousel" >
            <div class="glide__track" data-glide-el="track">
              <ul class="glide__slides glide__slides-banner" >
                <li class="glide__slide-banner">  
                    <img src="resources/ejemplo/2.jpg" alt="Industrial" class="areas__card-img"> 
                </li>
                
              </ul>
            </div>
        </div> -->

    </div>

</div>